:root{
  --beige: #D3C5AE;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection{
  background-color: #3D3145;
  color: white;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: var(--beige);
}

.section{
  height: 100vh;
  padding: 0 96px;
}

.hero{
  display: flex;
  align-items: center;
}
.hero h1{
  font-size: 6rem;
  font-weight: 800;
  font-family: 'Playfair Display', serif;
}
.hero p{
  font-size: 1.2rem;
}

.button{
  display: inline-block;
  padding: 12px 32px;
  margin-top: 24px;
  border-radius: 90px;
  color: black;
  background-color: var(--beige);
  text-decoration: none;
  font-weight: 500;
  transition: all .3s cubic-bezier(.25, .8, .25, 1);
}
.button:hover{
  background-color: #FC8C3D;
}

.grain-texture{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  background-image: url('/img/GRAIN.png');
  mix-blend-mode: soft-light;
  opacity: .5;
}

.glass{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;

  background-color: rgba(217, 217, 217, .1);
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(100px);
  box-shadow: 
    -16px 16px 82px rgb(165, 165, 165, .1) inset,
    16px -16px 82px rgb(165, 165, 165, .1) inset,
    0 4px 30px rgba(0, 0, 0, 0.1);
}

.hero-background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  position: absolute;
  width: 630px;
  height: 630px;
  border-radius: 50%;
  background-color: #FC8C3D;
}
.gradient-ball{
  width: 600px;
  height: auto;
}